* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;

  /* outline  */
}
:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}
.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  /* --main-color:#754ef9;
    --white-color:#fdfdfd; */
  --shadow-color: rgba(0, 0, 0, 0.7);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* overflow x and overflow y  */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  /* z index */
  transition: 0.5s;
}
.header.sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}
.logo {
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}
/* position  */
.navbar a {
  position: relative;
  /* padding: 20px; */
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-right: 3.5rem;
}
.header.sticky .navbar a {
  color: var(--text-color);
}
.header.sticky .navbar a.active {
  color: var(--main-color);
}
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }
  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-120px, -210px);
  }
  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(0, -335px);
  }
  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-115px, -450px);
  }
  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-220px, -335px);
  }
  .home .profession-box .profession:nth-child(1) i {
    margin-right: 0;
  }
  .home .profession-box .circle {
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }
  .home .profession-container .overlay {
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-content h2 {
    text-align: center;
  }
  .about-img img {
    width: 70vw;
    margin-top: -2rem;
  }
  .services h2,
  .portfolio h2 {
    margin-bottom: 3rem;
  }
  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-container .testimonial-wrapper {
    padding: 50px 0;
    width: 400px;
  }
  .testimonial-content .testimonial-slide {
    padding: 3rem 2rem;
  }
  .testimonial-box .swiper-button-next,
  .testimonial-box .swiper-button-prev {
    display: none;
  }
  @media (max-width: 617px) {
    .portfolio .portfolio-container {
      grid-template-columns: 1fr;
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  #darkMode-icon {
    right: 6rem;
  }
  .home {
    padding: 0 3% 30rem;
  }
  .home .profession-box .profession:nth-child(1) {
    transform: rotate(-90deg) translate(-110px, -220px);
  }
  .home .profession-box .profession:nth-child(2) {
    transform: rotate(0deg) translate(5px, -335px);
  }
  .home .profession-box .profession:nth-child(3) {
    transform: rotate(90deg) translate(-105px, -440px);
  }
  .home .profession-box .profession:nth-child(4) {
    transform: rotate(180deg) translate(-100px, --335px);
  }
  .contact form .input-box input {
    width: 100%;
  }
}
@media (max-width: 365px) {
  .about-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}



.testimonial-container .bxl-linkedin-square:before {
  content: "\e94e";
  font-size: 10rem;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}
.testimonial-container .bxl-twitter:before {
  content: "\e982";
  font-size: 10rem;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}
.testimonial-container .bxl-github:before{
  
    content: "\e93a";
    font-size: 10rem;
  color: var(--main-color);
  outline: 2px solid var(--main-color);
}
